02-regression/data.csv
02-regression/.ipynb_checkpoints
02-regression/car_fuel_efficiency*
03-classification/data-week-3.csv
03-classification/.ipynb_checkpoints
03-classification/course_lead_scoring*
04-evaluation/.ipynb_checkpoints
04-evaluation/data-week-3.csv
04-evaluation/course_lead_scoring*
05-deployment/model.bin
05-deployment/.ipynb_checkpoints
05-deployment/__pycache__
05-deployment/.elasticbeanstalk/*
05-deployment-homework/__pycache__
!05-deployment/.elasticbeanstalk/*.cfg.yml
!05-deployment/.elasticbeanstalk/*.global.yml
05-deployment-homework/pipeline_v1.bin
06-trees/CreditScoring.csv
06-trees/.ipynb_checkpoints
09-serverless/keras/models/clothing-model-new.onnx
09-serverless/sklearn/model.bin
09-serverless/homework/hair_classifier_v1.onnx.data
09-serverless/homework/hair_classifier_v1.onnx
10-kubernetes/clothing-model.onnx
