02-regression/data.csv
02-regression/.ipynb_checkpoints
02-regression/car_fuel_efficiency*
03-classification/data-week-3.csv
03-classification/.ipynb_checkpoints
03-classification/course_lead_scoring.csv

