02-regression/data.csv
02-regression/.ipynb_checkpoints
02-regression/car_fuel_efficiency*
03-classification/data-week-3.csv
03-classification/.ipynb_checkpoints
03-classification/course_lead_scoring*
04-evaluation/.ipynb_checkpoints
04-evaluation/data-week-3.csv
04-evaluation/course_lead_scoring*
05-deployment/model.bin
05-deployment/.ipynb_checkpoints
05-deployment/.elasticbeanstalk/*
!05-deployment/.elasticbeanstalk/*.cfg.yml
!05-deployment/.elasticbeanstalk/*.global.yml
05-deployment-homework/pipeline_v1.bin

